{% extends 'base.html.twig' %} 

{% block body %}

	
	{% include('sections/brand_top.html.twig') %}

	<div class="searchBar form">
		{{form_start(form, {'attr': {'class': 'searchBar__form'}})}}
			<div class="relative">
				{{form_widget(form.search)}}

				<i class="fas fa-search searchBar__icon"></i>
			</div>		
		{{form_end(form)}}
			
	</div>

	<div class="searchLayout"></div>

	

	{% include('sections/card_event.html.twig') %}

	{% include("sections/navbar_mobile.html.twig") %}


{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src={{asset('/js/searchEvent.js')}}></script>
{% endblock %}
