{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}
	{% include('sections/brand_top.html.twig') %}

	<div class="createEventForm form">

		{{ form_start(createEventForm) }}

			<h2 class="form__title">où et quand ?</h2>
			<p class="form__text">Définissez le lieu, la date et la plage horaire de votre évènement.</p>

			<h3 class="form__subtitle">Votre ville</h3>
			<p class="form__text">Sélectionner votre ville dans la liste déroulante de choix en tapant les premières lettres</p>
			{{ form_row(createEventForm.location_city)}}
			<ul id="cityList" class="form__selectList">
			</ul>

			<h3 class="form__subtitle">Le point de rendez-vous</h3>
			<p class="form__text">Renseigner l’adresse exacte du point de rendez-vous de votre évènement et donner des précisions si besoin pour que l’on vous rejoigne facilement.</p>
			{{ form_row(createEventForm.location_address)}}
			<ul id="addressList" class="form__selectList">
			</ul>

			{{ form_row(createEventForm.location_description)}}

			<h3 class="form__subtitle">La date</h3>
			<p class="form__text">Choisissez la date à laquelle votre évènement aura lieu</p>
			{{ form_row(createEventForm.date)}}

			<h3 class="form__subtitle">L'heure</h3>
			<p class="form__text">Indiquez l’heure de début et l’heure de fin de votre évènement.</p>

			<div class="form__timePickr">
				{{ form_row(createEventForm.time_start)}}
				<span>à</span>
				{{ form_row(createEventForm.time_end)}}
			</div>

			
			<div class="form__buttons-wrapper">
				{% if event is defined and is_granted('MANAGE', event) %}
					<button type="submit" class="form__btn-next btn btn-primary">enregistrer</button>
				{% else %}
				<button type="submit" class="form__btn-next btn btn-primary">suivant</button>

				{% endif %}
			</div>


		{{ form_end(createEventForm) }}
	</div>
{% include("sections/navbar_mobile.html.twig") %}


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

	<script>

		flatpickr(document.getElementById("create_event_step3_date"), {
			enableTime: false,
			dateFormat: "d-m-Y",
			minDate: "today",
		});

		flatpickr(document.getElementById("create_event_step3_time_start"), {
			enableTime: true,
   			noCalendar: true,
    		dateFormat: "H:i",
    		time_24hr: true
		});

		flatpickr(document.getElementById("create_event_step3_time_end"), {
			enableTime: true,
   			noCalendar: true,
    		dateFormat: "H:i",
    		time_24hr: true
		});


		// AJAX POUR LES VILLES 

		var inputCity = document.getElementById("create_event_step3_location_city");

		var inputAddress = document.getElementById("create_event_step3_location_address");



		inputCity.addEventListener('input', function(e){

			document.getElementById('cityList').innerHTML =""; 

			var search = e.target.value; 

			search = search.replace(/ /g, "+"); 
			
			var request = new XMLHttpRequest();

			request.open("GET", "https://geo.api.gouv.fr/communes?nom="+e.target.value+"&fields=nom,codeDepartement&limit=8");

			request.send(null);

			request.addEventListener("readystatechange", function(){
				
				if(request.readyState === XMLHttpRequest.DONE && request.status === 200){
					
					var response = JSON.parse(request.responseText); 

					for(var i = 0 ; i < response.length; i++){

						var line = document.createElement("li");

						line.classList.add("form__selectList__line");

						line.appendChild(document.createTextNode(response[i].nom+" ("+response[i].codeDepartement+")"));

						document.getElementById('cityList').appendChild(line); 

						line.addEventListener("click", function(e){
							
							document.getElementById("create_event_step3_location_city").value = e.target.innerText;
							document.getElementById('cityList').innerHTML =""; 
						});

						
					}
				}
			});


		});


		inputAddress.addEventListener('input', function(e){

			document.getElementById('addressList').innerHTML =""; 


			var search = e.target.value; 

			search = search.replace(/ /g, "+"); 
			
			var request = new XMLHttpRequest();

			request.open("GET", "https://api-adresse.data.gouv.fr/search/?q="+search+"&limit=8");

			request.send(null);
			

			request.addEventListener("readystatechange", function(){
				
				if(request.readyState === XMLHttpRequest.DONE && request.status === 200){
					
					const response = JSON.parse(request.responseText); 




					for(var i = 0 ; i < response.features.length; i++){
						
						var line = document.createElement("li");

						line.classList.add("form__selectList__line");

						line.appendChild(document.createTextNode(response.features[i].properties.label));

						document.getElementById('addressList').appendChild(line); 

						const department = response.features[i].properties.postcode; 


						line.addEventListener("click", function(e){
							document.getElementById("create_event_step3_location_address").value = e.target.innerText;
							document.getElementById("create_event_step3_location_dpt").value = department; 
							document.getElementById('addressList').innerHTML =""; 
						});

						
					}
				}
			});


		});

	</script>
{% endblock %}