{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}
	{% include('sections/brand_top.html.twig') %}

	<div class="createEventForm form">

		{{ form_start(createEventForm) }}

			<h2 class="form__title">Caractéristiques complémentaires</h2>
			<p class="form__text">Dans cette dernière section facultative, vous pouvez préciser des caractéristiques propres à votre sport (distance, allure moyenne, dénivelé...)</p>

			<h3 class="form__subtitle">Vos caractéristiques</h3>
			<p class="form__text">Ajouter des caractéristiques et leurs valeurs associées. <br>Exemple : <span class="form__text--italic">Distance : 10km</span></p>


			<div class="form__inputFieldContainer">
				{{ form_row(createEventForm.other_attributes)}}
			</div>
			<div class="form__addFieldBtn"><i class="fas fa-plus-circle"></i></div>

			
	
			
			<div class="form__buttons-wrapper">
				{% if event is defined and is_granted('MANAGE', event) %}
					<button type="submit" class="form__btn-next btn btn-primary">enregistrer</button>

					{% else %}
					<button type="submit" class="form__btn-next btn btn-primary">publier</button>

				{% endif %}
			</div>


		{{ form_end(createEventForm) }}
	</div>
{% include("sections/navbar_mobile.html.twig") %}


{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>

		var materialItems = document.querySelectorAll(".form__addedFieldGroup--input");


		for (var i = 0 ; i < materialItems.length ; i++){
			var removeInputMaterial = document.createElement('div');
			removeInputMaterial.innerHTML = "<i class=\"fas fa-minus-circle\"></i>";

			removeInputMaterial.addEventListener("click", function(e){
				e.target.parentNode.parentNode.remove(); 
			})

			materialItems[i].insertAdjacentElement('afterend', removeInputMaterial); 
		}


		document.querySelector('.form__addFieldBtn').addEventListener('click', function(e){
	
			var list = document.querySelector('#create_event_step5_other_attributes');

			var newInputMaterial = document.createElement('div'); 

			newInputMaterial.classList.add('form__addedFieldGroup'); 
			newInputMaterial.setAttribute('data-materialcount', list.childNodes.length);  

			var prototype = list.dataset.prototype; 
			prototype = prototype.replace(/__name__/g, list.childNodes.length); 

			newInputMaterial.innerHTML = prototype;




			
			var removeInputMaterial = document.createElement('div');
			removeInputMaterial.setAttribute('data-materialcount', list.childNodes.length); 

			removeInputMaterial.innerHTML = "<i data-materialcount="+list.childNodes.length+" class=\"fas fa-minus-circle\"></i>";

			list.appendChild(newInputMaterial) ; 

			newInputMaterial.childNodes[0].childNodes[0].focus(); 


			newInputMaterial.appendChild(removeInputMaterial); 

			removeInputMaterial.addEventListener("click", function(e){

				var count = e.target.dataset.materialcount

				childToRemove = document.querySelector(".form__addedFieldGroup[data-materialcount=\""+count+"\"]"); 

				list.removeChild(childToRemove); 
			})



		});



		// Création d'un contenant pour les éléments du group option level

		var optionContainer = document.createElement("div");

		var optionToInsert = document.getElementsByName("create_event_step4[level]");
		console.log();

	</script>


	
{% endblock %}